<div id="hContainer">
	<div id="sBanner">
		<div class="wrap">
			<div class="priority">
				<div class="description">
					'Carpe diem','seize the day' 와 같이 '현재를 즐겨라!' 라는 메시지는<br />
					다양한 매체에서 던져줘요. 하지만 바쁜 일상에 치여서 금방 잊어버리곤 하죠.<br />
					그래서 Hooful은 사람들에게 실제로 현재를 즐길 수 있도록 하고자<br />
					Hooful이 생겨났답니다.
				</div>
			</div>
		</div>
	</div>
	<div class="sSubscription">
		<div class="wrap">
			<div class="sWording">
				<h2>성공적으로 등록신청이 완료되었습니다.</h2>
				<div class="article">
				48시간 이내에 등록에 대한 답변을 드립니다.<br />
				감사합니다.
				</div>
			</div>
		</div>
	</div>
	<div class="sHooful">
		<div class="wrap">
			<a href="/<%=flash[:mCode]%>" class="btnPreview" title="활동 미리보기">활동 미리보기</a>
		</div>
	</div>
	<div class="sBottom">
		<div class="wrap">
			<a href="http://www.facebook.com/hoofuling" target="_blank" title="Hooful Facebook"><img src="http://d3o755op057jl1.cloudfront.net/hooful/btn_facebook.png" alt="Hooful Facebook"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/_hooful" target="_blank" title="Hooful Twitter"><img src="http://d3o755op057jl1.cloudfront.net/hooful/btn_twitter.png" alt="Hooful Twitter"></a>
		</div>
	</div>
</div>