<div id="hContainer" class="gray none">
	<div id="hIntro" class="bg<%=@randNo%>">
		<div class="introHeader wrap">
			<h1 class="logo"></h1>
			<div class="sign">
				<div class="introsign"></div>
				<a href="/home" class="btnLets"></a>
			</div>
		</div>
	</div>
	<div id="hInterests" class="intro">
		<h2 class="maintitle intro">
			<span class="tline"></span>
			<span class="title big">후풀에서 제안하는 첫 번째 프로젝트는 레저 스포츠입니다.</span>
		</h2>
		<ul class="wrap">
			<%= raw @category_intro_icon%>
		</ul/>
	</div>
</div>