<div id="hContainer">
<script src="http://cafe.hooful.com:6530/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://cafe.hooful.com:6530');

	socket.on('connect', function(){										// on connection to server, ask for user's name with an anonymous callback
		socket.emit('adduser', 'admin');		// call the server-side function 'adduser' and send one parameter (value of prompt)
	});

	socket.on('updatechat', function (username, data) {			// listener, whenever the server emits 'updatechat', this updates the chat body
		if (typeof username !="undefined")
			$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});

	socket.on('updateusers', function(data) {							// listener, whenever the server emits 'updateusers', this updates the username list
		$('#users li').not('.divider').remove();

		$.each(data, function(key, value) {
			$('#users').append('<li><a href="javascript:getid(\''+value.trim()+'\');" class = "tEllipsis" ><span class="label label-info">' + value + '</span>[' + key + ']</a></li>');
		});
	});

	$(function(){																// on load of page
		$('#datasend').click( function() {								// when the client clicks SEND
			var message = $('#data').val();
			var userid = $('#userid').val();
			var link = $('#link').val();
			if (userid == "")	 alert("회원 아이디를 입력해주세요.");
			else if(message == "") alert("알림내용을 입력해주세요.");
			else if (userid == 'admin'){
				$('#data').val('');													// tell server to execute 'send_notice' and send along one parameter
				$('#link').val('');	
				$('#userid').val('');
				socket.emit('send_notice', userid, message);			
			}else{
				$.ajax({
					url: "/notification/sendNotice.json",
					method: "post",
					dataType: "json",
					data: "message="+message+"&userid="+userid+"&link="+link,
					beforeSend: function(xhr) {
						xhr.setRequestHeader("Accept", "text/html");
						xhr.setRequestHeader("X-CSRF-Token", $('meta[name="csrf-token"]').attr("content"));
					},
					success: function(data) {
						$('#data').val('');													// tell server to execute 'send_notice' and send along one parameter
						$('#link').val('');	
						$('#userid').val('');
						socket.emit('send_notice', userid, message);
					}
				  ,error: function(xhr, status, error) {alert(error);}
				});
			}
		});
		
		$('#data').keypress(function(e) {								// when the client hits ENTER on their keyboard
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});
function getid(id){
	$('#userid').val(id);
}
</script>
<div class="row-fluid">
	<div class="span10">
		<div class="hero-unit">
            <h1>회원공지</h1>
            <p></p>
          </div>
          <div class="row-fluid">
			<div id="connection">
				<ul id="users" class="dropdown-menu">
				  <h5>USERS</h5>
				  <li class="divider"></li>
				  <li>disconnected</li>
				</ul>
				<div id="conversation"></div>
			</div>
			<div id="list">
				<div id="input">
					<input id="userid" name="userid" placeholder="User ID" type="text" class="input-small">
					<input id="link" name="link" placeholder="Link" type="text" class="input-xlarge">
					<input id="data" name="data" placeholder="Message" type="text" class="input-xxlarge">
				</div>
				<input type="button" id="datasend" value="send" class="btn"/>
			</div>    	
          </div><!--/row-->
	</div><!--/span-->
</div><!--/row-->
</div>