
	<div id="sBanner" class="hooful">
		<h3 class="left">후풀은 여러분의 의견을 기다립니다.</h3>
		<p>후풀의 목표는 회원님들의 여가시간을 사람들과 함께 즐거운 일로 가득 채우는 것입니다.<br/>
이곳에서 여러분의 피드백과 아이디어를 공유해 주세요.</p>
	</div>
	<div class="sHooful none">
		<div class="wrap">
			<ul class="hMenu">
				<li><%=link_to "자주묻는질문", "/support/faq", :class=>"set"%></li>
				<li><%=link_to "후풀에게", "/support/hooful"%></li>
				<li><%=link_to "이용약관", "/support/terms"%></li>
				<li><%=link_to "개인정보보호정책", "/support/privacy"%></li>
			</ul>

			<table class="hNotice">
				<colgroup>
					<col width="70px" />
					<col width="925px" />
				</colgroup>
				<tbody>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">후풀에서 말하는 티켓이란 무엇인가요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						후풀의 티켓은 유료 활동에 참여할 수 있는 이용권의 개념을 말합니다. 티켓을 구입함과 동시에 해당 활동에 참여 할 수 있으며, 티켓 하나 구매시 하나의 활동에 참여할 수 있습니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">패러글라이딩 활동에서 티켓을 구매했는데, 이것을 스카이다이빙이나 이런 활동에서 사용하고 싶은데 가능한가요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						후풀의 티켓은 구매한 활동에서만 사용할 수 있으며, 다른 활동에서는 사용할 수 없습니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">어떤 결제 수단을 지원하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						티켓 구매시 신용카드/실시간계좌이체/휴대폰결제 등의 다양한 결제 수단을 지원합니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">결제 진행 중, 오류가 발생하는 경우에는 어떻게 하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						신용카드 결제시 한도초과, 비밀번호 오류 등 다양한 오류 사유가 발생할 수 있습니다. 명확한 오류 사유를 발견할 수 없는데 계속해서 결제 오류가 나는 경우에는 후풀 고객서비스팀으로 문의해주시기 바랍니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">결제가 완료된 정보는 어디서 확인할 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						결제 정보는 마이페이지에서 확인하실 수 있으며, 고객님의 이메일로도 결제내역이 전송됩니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약은 어떻게 하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						실제로 활동하고 싶은 활동을 선택 후, 활동에 해당하는 티켓을 구매 합니다. 구매한 티켓을 가지고 활동에 개설된 날짜와 시간을 선택하여 활동 예약을 하시면 됩니다. 예약 신청 후에 활동 주최자인 업주분께서 예약승인을 해주시면 예약이 완료됩니다.<br /><br />
						* 예약 시 유의사항<br />
						- 이미 기 완료된 예약의 취소는 o회 까지 가능합니다.     <br />
						- “예약불가”라고 표시되는 것은 예약이 불가한 상황을 말씀 드리는 것이며, 사유는 해당 예약 내역을 클릭하시면 확인하실 수 있습니다.<br />
						- 예약 취소는 당일도 가능하지만, 당일 취소된 예약의 티켓에 대해서는 환불처리가 되지 않습니다. <br />
						- 예약한 활동 당일의 예약 변경은 불가능합니다. 
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약변경은 언제까지 가능한가요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						예약 변경은 티켓 유효기간 내에만 가능합니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약변경은 어디서 할 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						- 예약 변경은 “티켓 예약 내역”의 “상태”란에서 가능합니다.<br />
						- 예약 변경을 클릭하시면 원래 고객님께서 예약하셨던 내용이 출력되며, 예약 변경을 클릭하셔서 날짜와 시간을 변경하시고 “변경신청” 버튼을 눌러주세요.<br />
						- 변경 신청이 완료되면 “티켓 예약 내역”의 “상태” 란에서 예약이 변경되신 것을 확인 하실 수 있습니다.<br />
						- 변경 신청 시, 활동카드 상의 활동기간과 시간을 꼭 확인하시기 바랍니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약 변경 신청을 하다 보니 변경을 희망하는 시간대에 이미 예약이 완료되었다고 나오네요. 이런 경우에는 이 시간대에 예약 신청을 할 수 없는 건가요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						변경 신청시에 희망하시는 해당 날짜 해당 시간에 이미 다른 고객님들의 예약이 완료되었을 경우에는 변경 신청이 불가능 하오니 유의해 주시기 바랍니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약 취소는 어디서 할 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						- 예약 취소는 “티켓 예약 내역”의 “상태”란에서 가능 합니다.<br />
						- 예약취소를 클릭하시면 먼저 고객님이 예약을 완료한 활동에 대한 내용이 출력 됩니다. <br />
						- 출력된 내용의 오른 쪽 상단 위 “예약취소” 버튼을 클릭하시면 팝업창이 뜨면서 예약취소가 진행됩니다. 팝업창의 내용을 확인하신 후, 확인 버튼을 누르시면 정상적으로 예약이 취소됩니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약을 취소한 티켓이 있습니다. 이건 어떻게 사용해야 하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						취소된 티켓은 재 사용하실 수 있으며 다시 예약을 하셔야만 티켓을 사용할 수 있습니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">예약 취소 처리가 제대로 되었는지 확인하고 싶은데, 어디서 확인할 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						취소된 내역은 “마이페이지” 또는 “티켓 예약 내역”에서 확인이 가능하오니, 취소 신청 후에 다시 한번 취소가 정상적으로 처리 되었는지 확인하시기 바랍니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">기상상황의 영향을 받는 경우, 기상악화로 인해 활동이 취소되면 어떻게 해야 하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						레저 활동 특성상, 기상의 영향을 받는 활동들이 많습니다. 이런 경우에는 활동을 주최하는 업체측에서 예약하신 고객님들께 개별적으로 활동에 대한 안내를 드리고 있습니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">티켓 구매하고 사정상 못가게 되었어요. 환불하고 싶은데 환불 받을 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						- 티켓 구매 후 7일이내 환불 요청시에는 티켓 가격 100%를 현금으로 환불합니다.<br />
						- 티켓 구매 후 7일이후 환불 요청시에는 티켓 가격의 70%를 포인트로 환불합니다
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">티켓을 구매하고 사용치 않고 있다가 활동이 끝나버렸어요. 유효기간이 지난 티켓은 어떻게 하나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						티켓의 유효기간이 지나면 티켓의 70%에 해당하는 금액을 포인트로 환불합니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">티켓 구매 후, 예약을 했는데 개인적인 사정이 생겨서 참가를 못할 듯 하여 2~3일전에 취소하게 되었어요. 이런 경우에는 어떻게 환불을 받을 수 있나요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						업체가 지정한 최소 예약일 이후 예약 취소시에는 (사용자의 사정에 의해) 사용자에게 티켓금액의 50%에 해당하는 포인트로 환불합니다.
						</div>
						</td>
					</tr>
					<tr>
						<td class="ctr">Q</td>
						<td class="title">인증은 꼭 해야 하는건가요?</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						후풀팀은 사람과 사람이 만나는 데 있어서 서로 신뢰하는게 가장 중요하다고 생각하였습니다. 고객분들에게 신뢰를 드리기 위한 하나의 방법으로 인증 절차를 거치고 있으니, 회원 가입시 절차에 따라 꼭 인증 절차를 거쳐주셔야만 회원가입이 완료됩니다.
						</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>