
	<div class="wrap">
		<div class="sHooful">
			<div class="sSlogan">Work Hard, Play Hard?</div>
			<div class="sWording">
				<div class="wPicture"></div>
				<p>일을 마치고 자유 시간이 생겼습니다. 평소와 다름없이 거실 쇼파에 앉아 자동으로 TV를 켭니다.<br />
그리고 같이 취업 준비하는 친구에게 전화를 겁니다. 오늘도 어김없이 친구와 폭풍 수다를 떱니다.<br />
“나 살찐 것 같다, 네가 보기에는 어떠냐.”는 대화로 두 세 시간이 어떻게 흘러갔는지 모르겠습니다.<br />
전화를 끊었을 때 허무감은 이루 말할 수 없습니다. <br />
(황모씨, 26, 취업준비생)</p>
				<div class="wPicture"></div>
				<p>일을 마치고 자유 시간이 생겼습니다. 오늘은 특별히 오래된 친구들과 모이기로 했습니다.<br />
설레이는 마음으로 약속장소로 향합니다. 부지런한 친구 몇 놈들이 미리 와서 기다리고 있었습니다.<br />
자리에 앉자마자 폭탄주를 건네는 친구들이 밉지 않습니다. 회사에서 받은 스트레스가 점점 풀리는 것 같습니다.<br />
잘 지내느냐로 시작된 우정의 대화가 얼굴도 모르는 상사들의 뒷담화로 끝이 납니다.<br />
그리고 내일도 봐야하는 못된 상사를 잠시나마 잊기 위해 다시그 술잔을 기울입니다. <br />
(노모씨, 32, 회사원)</p>
				<div class="wPicture"></div>
				<p>드디어 주말이 되었습니다. 오늘은 소개팅이 있는 날입니다.<br />
괜찮은 사람이 나올 거라는 기대감을 안고 약속장소로 향합니다. 서울의 유명 레스토랑에 도착했습니다.<br />
식사가 어느정도 진행되면서 차근차근 서로에 대한 호구조사로 말문이 트입니다. 대화들이 너무나도 뻔합니다.<br />
재미도 없고, 감동도 없고 이 자리가 부담스럽기만 합니다. 분명 이 남자, 밥을 다 먹고 나면<br />
차를 마시러 가거나 술을 마시러 가자고 하겠지요? 그렇다고 소개팅을 안 할 수도 없는 노릇이고,<br />
이렇게 뻔한 레퍼토리 말고 뭔가 색다르지만 편안하고 자연스럽게 새로운 사람들을 만날 수 있는 방법은 없을까요?<br />
(안모씨, 35, 골드미스)</p>
			</div>
		</div>
		<div class="sSlogan red">Work Hard, Play Hard?</div>
		<p class="sWording2">열심히 일한 당신을 위한! 열심히 놀 수 있는 당신을 위한!<br />
여가시간은 존중 받아야 합니다. 일과 시간에 쌓였던 스트레스를 후(hoo) 날려버리세요.<br />
여가시간을 즐겁게 채울(ful) 수 있게 후풀이 최선을 다하겠습니다.<br />
후풀에서 첫 번째로 제안하는 여가활동은 레저 스포츠입니다.</p>
		<div class="logo_full">hooful</div>
		<div class="logo_osquare">hooful</div>

	</div>
