<div class="wrap">
	<img src="http://cdn.hooful.com/newhooful/support_howtouse_01.png" class="support_tutorial_01"/>
	<div class="line_divider"></div>
	<h3 class="first">레저스포츠를 저렴한 가격에 구매하고 예약까지 할 수 있습니다.</h3>
	<img src="http://cdn.hooful.com/newhooful/support_howtouse_02.png" class="support_tutorial_02"/>
	<p>들뜬 마음을 안고 멀리멀리 찾아갔더니, 기다린 시간만 5시간<br/>
	많이 힘드셨죠?<br/>
	이제 후풀과 함께 레저스포츠를 저렴하게 구매하고 편하게 예약해 보세요!</p>
	<div class="line_divider"></div>
	<h3 class="second">다른 사람들과 함께 레저를 즐기실 수 있습니다.</h3>
	<img src="http://cdn.hooful.com/newhooful/support_howtouse_03.png" class="support_tutorial_03"/>
	<p>레저를 하고 싶은데 함께 할 친구를 찾는 것도 일이였죠?<br/>
	이제 걱정마세요!<br/>
	후풀에서 함께 레저를 즐겨보고 싶은 분들과 그룹을 결성할 수 있고,<br/>
	사전에 미리 대화를 하여 함께 계획을 짤 수 있답니다.</p>
	<div class="line_divider"></div>
	<h3 class="second">나의 경험을 기록하고 사람들과 소통할 수 있습니다.</h3>
	<img src="http://cdn.hooful.com/newhooful/support_howtouse_04.png" class="support_tutorial_04"/>
	<p>내가 경험한 레저를 예쁜 티켓으로 모아 볼 수 있어요.<br/>
	또한 함께 한 분들과 멋진 경험에 대해 이야기 할 수도 있습니다.</p>
	<%=link_to '','/home',:class=>'btn_support'%>
</div>