
	<div id="sBanner" class="news">
		<h3>후풀에 관련된 소식을 알려드려요.</h3>
	</div>
	<div class="sHooful none">
		<div class="wrap">
			<ul class="hMenu">
				<li><%=link_to "공지사항", "/support/notice", :class=>"set"%></li>
				<!--<li>이벤트</li>-->
			</ul>
			<table class="hNotice">
				<colgroup>
					<col width="125px" />
					<col width="750px" />
					<col width="125px" />
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="ctr">1</td>
						<td class="title">세상에 없던 만남과 레저가 함께 있는 곳 '후풀' 런칭!!</td>
						<td class="ctr">2013.7.15</td>
					</tr>
					<tr class="contents">
						<td></td>
						<td>
						<div  class="contents">
						세상에 없던 만남과 레저가 함께 있는 곳 '후풀'이 <br/>
						드디어 오픈베타 서비스를 시작합니다! <br/><br/>

						압니다. 무료 이벤트만 디립다 하고 정작 오픈이 미뤄진거. <br/>
						그리고 우리를 오래 기다리신거. :-)<br/>
						사실 후풀이 모임중계 사이트로 오픈베타 서비스를 시작한게<br/>
						작년 초니까, 새로 오픈하는데 거의 1년이 꼬박 걸렸네요. <br/>
						처음 후풀을 접하신 분들은 ‘얘네 망했나?’라고 <br/>
						생각하신 분들도 많을 거에요. <br/>
						저희도 저희가 망한 줄 알았거든요. 하핫!<br/><br/>

						하우에버, 결국은, 이렇게 멋지게 다시 태어났습니다.<br/>
						수천번의 멘붕과, 수백번의 좌절과, 수십번의 밤샘작업 <br/>
						그리고 33개의 레저 상품과, <br/>
						총 3번의 사이트 전체 뒤엎음을 거친 역작을<br/>
						드디어 여러분들께 공개할 수 있게 되었네요.<br/>
						생각보다 겁-나-게 오랜 시간이 걸렸지만, <br/>
						그 만큼 실제로 사람들이 신뢰감을 갖고 만나는데 있어서<br/>
						그 누구보다 고민을 많이했어요. <br/>
						심지어 내 여동생도, 친누나도, 친한 친구도 마음 놓고 <br/>
						후풀에 보낼 수 있는 만남이 있는 레저 사이트로<br/>
						탄생했다고 자신합니다. <br/><br/>

						세련되고 감성적인 UI, 클릭 몇 번으로 할 수 있는 레저 예약, <br/>
						정상 레저 가격 보다 저렴한 가격, 함께 참여할 사람 찾기,<br/>
						서로 소통할 수 있는 SNS. <br/>
						이 모든 것을 후풀 베타테스트에서 만나보실 수 있어요.<br/><br/>

						뭐, 말이 필요있을까요?<br/>
						지금 바로 http://www.hooful.com 을 들어오시거나, <br/>
						네이버에 ‘후풀’을 검색해서 들어와보세요.<br/><br/>

						앞으로 더 많은 무료 레저 이벤트와, 함께하는 캠핑,<br/>
						함께하는 국내 여행, 함께하는 테마 여행 등 다양한 <br/>
						컨텐츠를 들고 찾아올께요.<br/><br/>

						후풀앱은 늦어도 9월엔 만나보실 수 있을거에요! <br/>
						후풀을 이렇게 아껴주시고, 응원해주셔서 감사합니다. <br/>
						페이스북에서 자주 찾아뵐께요 :D<br/><br/>

						P.S.) 상상만으로 괜찮으세요?<br/>
						　　인생을 즐기는 가장 쉬운 방법, Hooful<br/><br/>

						P.S.2) 떨려요.
						</div>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
